extend ../templates/two-column

block header
  include ../components/header

block first-col-content
  include ../components/page-list

block second-col-content
  include ../components/sidebar

block footer
  include ../components/footer
