// Templates require head, header, and footer components
// Within header and footer components, add block for specified content

include ../components/head
include ../components/header
    .one-col-content
        block one-col-content
include ../components/footer
