//- Templates require head component to be included first
//- Also required are the header and footer blocks:
//- This will allow pages that extend this layout to load different -
//- headers and footers if need be.

include ../components/c001-head
    // Start of Header Component
    block header
    // End of Header Component

    // Start of One-Column Content
    .one-col-content
        block one-col-content
    // End of One-Column Content

    // Start of Footer Component
    block footer
    // End of Footer Component
