/* page.scss
** Page Sass file that will be used to set all page level styles
*/
body {
    background: transparent image-url('../images/bg.png') left top repeat;
    .container {
        @include block-center;
        max-width: $row-width;
    }

    h1 {
        font-family: 'gothamrnd-light', Arial;
        text-transform: uppercase;
    }
}
