section.main-content.clearfix
    ul.project-list
        li.group-title.project-list-item Flagship
        li.development.project-list-item
          a.icon.image(href='images/comps/homepage-1.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-2.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-3.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-4.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-5.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-6.jpg', target='_new')
          a.icon.image(href='images/comps/homepage-7.jpg', target='_new')
          a.icon.wire(href='images/wires/homepage-1.pdf', target='_new')
          a(href='../html/pages/p001-homepage.html') p001 - Homepage
    ul.project-list
        li.group-title.project-list-item User Registration & Account Management
        li.queued.project-list-item
          a.icon.wire(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p002 - Login
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p003 - Forgot Password Email
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p004 - Forgot Password Challenge
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p005 - Forgot Password Success
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p006 - Create Account
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p007 - My Account
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p008 - My Wishlist
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p009 - Order Status Lookup
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p010 - Order Details
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p011 - Order Listing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p012 - Interrupt Page Legacy
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p013 - Interrupt Page CSR
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p014 - Address Cleansing
      ul.project-list
        li.group-title.project-list-item User Registration & Account Management - Inner Circle
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p015 - Inner Circle Homepage Registered
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p016 - Inner Circle Homepage Unregistered
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p017 - My Offers
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p018 - Refer a Friend
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p019 - My Rewards
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p020 - My Orders
      ul.project-list
        li.group-title.project-list-item Cart & Checkout
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p021 - Cart
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p022 - Shipping & Billing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p023 - Shipping Method
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p024 - Payment
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p025 - Confirmation
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p026 - Minicart
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p027 - Checkout Login
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p028 - Checkout Login Forgot Password
      ul.project-list
        li.group-title.project-list-item Product Detail Pages
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p029 - Beds Landing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p030 - Bed Series Landing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p031 - Beds Product Detail
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p032 - Pillows & Bedding Landing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p033 - Pillows & Bedding Category
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p034 - Pillows & Bedding Product Detail
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p035 - Specials
      ul.project-list
        li.group-title.project-list-item WCMS & Search/Navigation
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p036 - Nothing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p037 - WCMS Empty
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p038 - Company Info
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p039 - Lead Gen Form
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p040 - Lead Gen Success
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p041 - Testimonials
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p042 - Testimonials Write
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p043 - Search Results
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p044 - Search Results None
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p045 - Individual Needs
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p046 - 404
      ul.project-list
        li.group-title.project-list-item Widgets
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p047 - Find a Store
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p048 - Comparison Grid Landing
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p049 - Comparison Grid Comparison
        li.queued.project-list-item
          a.icon.image(href='images/rockflicker-images/LP-utlity-involved.jpg', target='_new')
          a(href='../html/pages/p001-homepage.html') p050 - Bed Configurator

