section.sidebar
    .sidebar__content-block
        h2 Legend
        ul.legend
          li.queued Queued (10%)
          li.development Development (10% - 65%)
          li.qa FED QA (65% - 75%)
          li.integration Integration (75% - 100%)
          li.live Live
      .toggle-nav.sidebar__content-block
        .sidebar__content-block
          h2 Project Specs
          ul
            li
              a.toggle-nav__trigger(href='#')
                | Summary
                span +
              .toggle-nav__content(style='display: none;')
                p
                  strong SELECT COMFORT
                  | is the flagship Sleep Number experience built on the hybris ecommerce platform.
            li
              a.toggle-nav__trigger(href='#')
                | Calendar
                span +
              .toggle-nav__content(style='display: none;')
                ul.toggle-nav__content--list
                  li
                    strong FED Kickoff
                    | 10/07/13
                  li
                    strong Batch 1
                    | 10/25/13
                  li
                    strong Batch 2
                    | 11/15/13
                  li
                    strong Batch 3
                    | 12/06/13
                  li
                    strong Batch 4
                    | 12/20/13
            li
              a.toggle-nav__trigger(href='#')
                | Team
                span +
              .toggle-nav__content(style='display: none;')
                ul.toggle-nav__content--list
                  li
                    a(href='mailto:michael.brault@acquitygroup.com')
                      strong Mike Brault
                      | , FED Manager
                  li
                    a(href='mailto:jake.larson@acquitygroup.com')
                      strong Jake Larson
                      | , Lead FED
                  li
                    a(href='mailto:molly.wells@acquitygroup.com')
                      strong Molly Wells
                      | , FED
                  li
                    a(href='mailto:mathew.dominguez@acquitygroup.com')
                      strong Mathew Dominguez
                      | , FED QA
            li
              a.toggle-nav__trigger(href='#')
                | Front-End Tech Stack
                span +
              .toggle-nav__content(style='display: none;')
                ul.toggle-nav__content--list
                  li
                    a(href='http://gruntjs.com/', target='_blank')
                      strong Grunt.js
                      | , JavaScript task runner
                  li
                    a(href='http://requirejs.org/', target='_blank')
                      strong Require.js
                      | , JavaScript file and module loader
                  li
                    a(href='http://jade-lang.com/', target='_blank')
                      strong Jade
                      | , template engine
                  li
                    a(href='http://getbootstrap.com/', target='_blank')
                      strong Bootstrap
                      | , front-end framework
                  li
                    a(href='http://sass-lang.com/', target='_blank')
                      strong SASS
                      | , stylesheet language
            li
              a.toggle-nav__trigger(href='#')
                | Browser Support
                span +
              .toggle-nav__content(style='display: none;')
                ul.toggle-nav__content--list
                  li Chrome 26 on Windows and Mac OS X​
                  li Firefox 20 on Windows and Mac OS X
                  li Safari 6.0 on Mac OS X
                  li Internet Explorer 8+
      .sidebar__content-block
        a.download-link(href='#')
          img(src='images/icon-download.jpg', height='12', width='12')
          | download full site
