.customSelect {
/* This is the default class that is used */
/* Put whatever custom styles you want here */
    background: #ddd;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #cdcdcd;
    width: 90%;
    color: #939393;
}

// .customSelect.customSelectHover {
// /* Styles for when the select box is hovered */
// }

// .customSelect.customSelectOpen {
// /* Styles for when the select box is open */
// }

// .customSelect.customSelectFocus {
// /* Styles for when the select box is in focus */
// }

// .customSelectInner {
// /* You can style the inner box too */
// }
