$fixed-grid-columns: 12 !default;
$fixed-row-width: 960px !default;
$fixed-gutter: 10px !default;
$fluid-gutter: 2%;

@for $i from 1 through $fixed-grid-columns {
    .fixed-grid .small#{-$i} {
        width: 100%;
        position: relative;
        margin-bottom: $fixed-gutter;
    }
}

// Only for desktop (not mobile)
@media screen and (min-width: $small-screen) {
// Build out desktop grid columns
    @for $i from 1 through $fixed-grid-columns {
        .fixed-grid .large#{-$i} {
            width: (($fixed-row-width/$fixed-grid-columns) * $i) - $fixed-gutter !important;
            position: relative;
            margin-right: $fixed-gutter;
            margin-bottom: $fixed-gutter;
            margin-left: 0;
        }
    }
}
