/* _font-icons.scss
** font icons Sass file that will be used to import all other components
*/

.single-icon-before i {
    padding: 0 5px 0 0;
}

.single-icon-after i {
    padding: 0 0 0 5px;
}

.stacked-icon-before .stacked-icon-background {
    margin: 0 5px 0 0;
}

.stacked-icon-after .stacked-icon-background {
    margin: 0 0 0 5px;
}

.stacked-icon-background {
    height: 1.6em;
    width: 1.6em;
    text-align: center;
    display: inline-block;
    i {
        line-height: 1.7em;
    }
}

.circle {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    line-height: 2.0em;
}

// visually align chevron arrow in stacked layout
.stacked-icon-before .icon-chevron-right,
.stacked-icon-after .icon-chevron-right {
    text-indent: 1px;
}
