/* _variables.scss
** Declare all variables within this file
 */

/* Author Custom Variables */

/* Inuit.css Variable Overrides */
$use-grids:         true;
$desk-start:        768px; // Mobile First (phone: 1-767px, desk: 768px+)
$responsive:        true;