body {
  background-color: #fff;
  color: #888;
  font: normal 10px/1.5em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 416px;
  -webkit-text-size-adjust: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

a {
  color: #888;
  text-decoration: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

h2 {
  font-size: 12px;
  padding: 0 0 8px 0;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
}

/***
begin
HEADER
***/

header {
  border-bottom: 2px solid #f0f0f0;
  margin: 2em 0;
}

header .logo,
header .title {
  display: block;
  margin: auto;
}

header .logo {
  background: url('../images/select-comfort.jpg') 0 0 no-repeat;
  height: 67px;
  width: 350px;
}

header .title {
  text-indent: -99999px;
}

/*****
begin
MAIN CONTENT
***/

#container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 800px;
  padding: 10px 0px;
  padding: 20px 0px;
}

.main-content {
  float: left;
  width: 60%;
  margin-bottom: 2em;
}

.project-list {
  margin-bottom: 30px;
}

.project-list-item {
  font-size: 15px;
  margin-bottom: 1px;
  padding: 8px 0 10px 0;
}

.project-list-item.component-guide,
.project-list-item.style-guide {
  margin-bottom: 6px;
}

.project-list-item.concept-lab {
  margin-top: 6px;
}

.project-list-item a {
  display: inline-block;
  padding-left: 10px;
  white-space: nowrap;
  float: left;
}

.project-list-item .icon {
  width: 10px;
  height: 14px;
  display: block;
  position: relative;
  float: right;
}

.project-list-item .image {
  background: url('../images/icon-image.png') 0 0 no-repeat;
}

.project-list-item .wire {
  background: url('../images/icon-wire.png') 0 0 no-repeat;
}

.preview-thumb {
  background: #fff;
  border: 4px solid #fff;
  bottom: 20px;
  -webkit-box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.75);
  display: none;
  left: -40px;
  height: auto;
  position: absolute;
  width: 84px;
  z-index: 100;
}

.preview-thumb img {
  display: block;
}

.project-list-item a:after,
.project-list-item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.queued {
  background: #d3d3d3;
}

.development {
  background: #5cb8e6;
}

.qa {
  background: #48c0c0;
}

.integration {
  background: #005294;
}

.live {
  background: #000;
}

.queued a,
.qa a,
.development a,
.integration a,
.live a {
  color: #fff;
}

.group-title {
  color: #666;
}

/***
begin
SIDEBAR
***/

.sidebar {
  float: right;
  width: 35%;
  margin-bottom: 2em;
  font-size: 11px;
}

.sidebar__content-block {
  margin-bottom: 28px;
}

.toggle-nav__trigger {
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.sidebar__content-block ul li a {
  display: block;
  width: 100%;
}

.legend li {
  padding: 4px 0 4px 4px;
  margin-bottom: 1px;
  color: #fff;
}

.toggle-nav__content {
  margin-bottom: 28px;
}

.toggle-nav__content--list {
  list-style: disc;
}

.toggle-nav__content--list li {
  margin-bottom: 4px;
  margin-left: 14px;
}

.toggle-nav__content--list .toggle-nav__content--title {
  list-style: none;
  margin-left: 0;
  font-weight: bold;
}

.content-block-list li {
  padding: 3px 0;
}

.content-block-list a:hover {
  background-color: #f0f0f0;
}

.download-link {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  height: 14px;
  line-height: 14px;
}

.download-link:hover {
  text-decoration: underline;
}

.download-link img {
  margin-right: 4px;
}

/***
begin
FOOTER
***/

footer {
  border-top: 2px solid #f0f0f0;
  clear: both;
  margin-bottom: 50px;
  padding: 16px 0 14px;
  text-align: right;
  width: 100%;
}

/***
begin
MEDIA QUERIES
***/

@media only screen and (max-width:480px) {
  .main-content,
  .sidebar {
    float: none;
    width: 100%;
  }

  .desktop-legend,
  small {
    display: none;
  }

  .sidebar {
    margin-top: 36px;
    padding-top: 30px;
    border-top: 2px solid #f0f0f0;
  }

  .project-list li {
    font-size: 14px;
  }

  #container {
    margin: 0px 14px;
  }
}
