nav.navbar
    .sub-nav-bg.hide-for-small
    .sub-nav-shadow.hide-for-small
    .row
        .hide-for-small.logo-container
            img(src="../../images/logo_ribbon.png", alt="Coca-Cola Image").logo
        .large-6.columns.hide-for-small
            div.logo-shift-secondary-nav
                ul.secondary-nav-list.inline-list
                    li
                        a(href="#") Our Mission
                    li.secondary-nav-list__divider |
                    li
                        a(href="#") Get Involved
        .large-3.columns.hide-for-small
            label.right.email-sign-up Sign Up for Updates
        .large-3.columns.hide-for-small
            include language-selector
        .large-12.columns
            div.contain-to-grid.logo-shift-primary-nav
                nav.top-bar
                    ul.title-area
                        // Title Area
                        li.name
                          h1
                            a(href='#').show-for-small
                                img(src="../../images/headerLogo.png")
                        // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
                        li.toggle-topbar.menu-icon
                            a(href='#')
                                span
                    section.top-bar-section
                        // Left Nav Section
                        ul.left
                            li.show-for-small
                                a(href='#') Home
                            li.parent.has-dropdown
                                a(href='#') Balanced Living
                                ul.dropdown
                                    li.menu-large
                                        a(href='#').show-for-small Dropdown Level 1a
                                        .row.hide-for-small.blue
                                            .large-4.sub-col.left
                                                h3 Overview
                                                p Finding a balanced life starts with an active and healthy lifestyle. Discover why energy balance is an important part of a healthy life.
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Learn More
                                            .large-4.sub-col.left
                                                h3 Programs
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Clear On Calories
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span The Heart Truth
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Triple Play
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Healthy Weight Commitment
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Portfolio of Beverages
                                            .large-4.sub-col.left.pattern
                                                h3.invert Featured
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/featurePlaceHolder.jpg").feature-image
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightBlue.jpg")
                                                            span Get The Ball Rolling
                            li.parent.has-dropdown
                                a(href='#') Community
                                ul.dropdown
                                    li.menu-small
                                        a(href='#').show-for-small Dropdown Level 1a
                                        .row.hide-for-small.lime
                                            .sub-col.left
                                                h3 Overview
                                                p What makes us a community? All of us working together to make good things happen. Check out how Coca-Cola service projects are impacting communities.
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightLime.jpg")
                                                            span Learn More
                            li.parent.has-dropdown
                                a(href='#') Environment
                                ul.dropdown
                                    li.menu-small
                                        a(href='#').show-for-small Dropdown Level 1a
                                        .row.hide-for-small.green
                                            .sub-col.left
                                                h3 Overview
                                                p We all share one planet, so it's important that we protect it. Find out how Coca-Cola is helping o protect the environment and how you can help.
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightGreen.jpg")
                                                            span Learn More
                            li.parent.has-dropdown
                                a(href='#') Education
                                ul.dropdown
                                    li.menu-small
                                        a(href='#').show-for-small Dropdown Level 1a
                                        .row.hide-for-small.yellow
                                            .sub-col.left
                                                h3 Overview
                                                p Education starts with reading, writing, and arithmetic, and it ends with much more. Find out how Coca-Cola gives back through educational programs.
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightYellow.jpg")
                                                            span Learn More
                            li.parent.has-dropdown
                                a(href='#') Global Outreach
                                ul.dropdown
                                    li.menu-small
                                        a(href='#').show-for-small Dropdown Level 1a
                                        .row.hide-for-small.orange
                                            .sub-col.left
                                                h3 Overview
                                                p Hope. It's a powerful thing. Creating it requires a lot more than money. Find out how Coke is empowering communities to create hope.
                                                ul
                                                    li
                                                        a(href='#')
                                                            img(src="../../images/arrowRightOrange.jpg")
                                                            span Learn More
                            li.show-for-small
                                a(href='#') Our Mission
                            li.show-for-small
                                a(href='#') Get Involved
