// Orbit Slides
.row
    .slideshow-wrapper
        .preloader
        ul(data-orbit, data-options="timer_speed:2500; bullets:false;")
            li
                img(src='http://placehold.it/960x400')
                .orbit-caption Example Caption
              li
                img(src='http://placehold.it/960x400')
                .orbit-caption Example Caption #2
              li
                img(src='http://placehold.it/960x400')
                .orbit-caption Example Caption #3
    // script.
    //     require(['../components/super-carousel']);
