<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Yeogurt Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="container" class="clearfix">

            <header>
                <h1>
                    Welcome To Yeogurt v1.0.0
                </h1>
                <p>An Automated Front-End Build Tool<p>
            </header>

            <div class="container">
                <p>
                    <h2>Features</h2>
                    <ul>
                        <li>Compile SASS files</li>
                        <li>Optimise images using OptiPNG and JPEGTran</li>
                        <li>Built-in Preview Server</li>
                        <li>Automatically lints JavaScript and CSS</li>
                        <li>JavaScript Unit Testing with Mocha</li>
                    </ul>
                    <a href="dashboard/index.html">Go to dashboard</a>
                </p>
                <p>
                    <h3>Want to skip this page and go right to the dashboard from now on?</h3>
                    Just open up Gruntfile.js in the yeogurt/sites/example-site folder and change line 124 from this:
                    <br>
                    <pre>path: 'http://localhost:<%= connect.options.port %>/'</pre>
                    <br>
                    To this:
                    <pre>path: 'http://localhost:<%= connect.options.port %>/dashboard/index.html'</pre>

                </p>
            </div>

            <footer>
                <h2>License</h2>
                <p>
                    The MIT License (MIT)
                </p>
                <p>
                    Copyright &copy; 2013 Jake Larson
                </p>
                <p>
                    Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:
                </p>
                <p>
                    The above copyright notice and this permission notice shall be included in
                    all copies or substantial portions of the Software.
                </p>
                <p>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                    THE SOFTWARE.
                </p>
            </footer>

        </div><!-- / #container -->
    </body>
</html>

