doctype 5
html
    include ../components/head
    body
        .container
            .hero-unit
                h1 Yeo Yeo!
                p You now have
                ul
                    li HTML5 Boilerplate
                    li Twitter Bootstrap
                    li RequireJS
                p installed.
                include ../components/footer
        script.
            require(['../components/hello']);
