doctype 5
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="styles/main.css")
    script(data-main="scripts/global/main", src="bower_components/requirejs/require.js")
  body
    h1 Jade - node template engines yeah
    #container.col
        Jade is a terse and simple
        templating language with a
          strong  focus on performance and powerful features.
    script.
      require(['../components/hello']);