/* _variables.scss
** Declare all variables within this file
 */

/* Author Custom Variables */

// Font-Awesome Overrides
$FontAwesomePath: "../styles/fonts/font-awesome/font";

// Typography Overrides
$body-font-family: Helvetica, Arial, sans-serif;

// Color Pallete
$font-color-primary: #50555f;
$font-color-primary: #ededed;
$font-color-white: #fff;
