extends ../templates/t001-one-column

block header
    include ../components/c002-header

block one-col-content
    p Hello!
    img(src="../../images/ameriFlag.jpg")
    i.icon-chevron-right
    script.
        require(['../../scripts/components/example.js']);

block footer
    include ../components/c003-footer
