doctype 5
html
    include ../components/head
    body
        include ../components/header-container
        .container
            // Rich text component
            h1.text-center.show-for-medium-up Bringing People Together For Good
        include ../components/super-carousel
        // container component
        include ../components/footer-container
