doctype 5
//if IE 8
    <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        // Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel='stylesheet', href='../../styles/main.css')
        //if lt IE 9
            script
                document.createElement('header');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
                document.createElement('hgroup');
        // build:js scripts/global/main.js
        script(data-main='../../scripts/global/main', src='../../bower_components/requirejs/require.js')
        // endbuild
