doctype 5
//if IE 8
    <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Example Site
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        // Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel='stylesheet', href='../../styles/main.css')
        //if lt IE 9
        script(src="../../bower_components/respond/respond.min.js")
        script(src="../../bower_components/html5shiv/dist/html5shiv.js")
        // build:js main.js
        script(data-main='../../scripts/global/main', src='../../bower_components/requirejs/require.js')
        // endbuild
    body
        yield
